In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import csv
import warnings
warnings.filterwarnings('ignore')

In [2]:
adobe_csv = "ADBE.csv"
adobe_df = pd.read_csv(adobe_csv)
adobe_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Stock_Name
0,1/3/2007,40.720001,41.320000,38.889999,39.919998,39.919998,7126000,ADBE
1,1/4/2007,39.880001,41.000000,39.430000,40.820000,40.820000,4503700,ADBE
2,1/5/2007,40.779999,40.900002,40.119999,40.619999,40.619999,2730200,ADBE
3,1/8/2007,40.410000,40.970001,40.130001,40.450001,40.450001,5234800,ADBE
4,1/9/2007,40.500000,40.509998,39.380001,39.630001,39.630001,5672900,ADBE

In [3]:
alxn_csv = "ALXN.csv"
alxn_df = pd.read_csv(alxn_csv)
alxn_df.head()

       Date     Open     High      Low    Close  Adj Close   Volume Stock_Name
0  1/3/2007  10.1225  10.3275   9.9700  10.1525    10.1525  3268000       ALXN
1  1/4/2007  10.1250  10.2325  10.0050  10.1825    10.1825  1785200       ALXN
2  1/5/2007  10.1500  10.3650  10.0575  10.1150    10.1150  3026400       ALXN
3  1/8/2007  10.0925  10.1350   9.8225   9.8375     9.8375  2312400       ALXN
4  1/9/2007   9.8600   9.8700   9.6550   9.7625     9.7625  3556000       ALXN

In [4]:
anet_csv = "ANET.csv"
anet_df = pd.read_csv(anet_csv)
#anet_df.head()
boot_csv = "BOOT.csv"
boot_df = pd.read_csv(boot_csv)
#boot_df.head()
bro_csv = "BRO.csv"
bro_df = pd.read_csv(bro_csv)
#bro_df.head()
bzun_csv= "BZUN.csv"
bzun_df = pd.read_csv(bzun_csv)
bzun2_df = bzun_df['Stock_Name'] = 'BZUN'
#bzun_df.head()
cdw_csv= "CDW.csv"
cdw_df = pd.read_csv(cdw_csv)
cdw2_df = cdw_df['Stock_Name'] = 'CDW'
#cdw_df.head()
chgg_csv= "CHGG.csv"
chgg_df = pd.read_csv(chgg_csv)
chgg2_df = chgg_df['Stock_Name'] = 'CHGG'
#chgg_df.head()
cmcsa_csv= "CMCSA.csv"
cmcsa_df = pd.read_csv(cmcsa_csv)
cmcsa2_df = cmcsa_df['Stock_Name'] = 'CMCSA'
#cmcsa_df.head()
cprt_csv= "CPRT.csv"
cprt_df = pd.read_csv(cprt_csv)
cprt2_df = cprt_df['Stock_Name'] = 'CPRT'
#cprt_df.head()
crm_csv= "CRM.csv"
crm_df = pd.read_csv(crm_csv)
crm2_df = crm_df['Stock_Name'] = 'CRM'
#crm_df.head()
ctre_csv= "CTRE.csv"
ctre_df = pd.read_csv(ctre_csv)
ctre2_df = ctre_df['Stock_Name'] = 'CTRE'
#ctre_df.head()
cvbf_csv= "CVBF.csv"
cvbf_df = pd.read_csv(cvbf_csv)
cvbf2_df = cvbf_df['Stock_Name'] = 'CVBF'
#cvbf_df.head()
edu_csv= "EDU.csv"
edu_df = pd.read_csv(edu_csv)
edu2_df = edu_df['Stock_Name'] = 'EDU'
#edu_df.head()
eeft_csv= "EEFT.csv"
eeft_df = pd.read_csv(eeft_csv)
eeft2_df = eeft_df['Stock_Name'] = 'EEFT'
#eeft_df.head()
eprt_csv= "EPRT.csv"
eprt_df = pd.read_csv(eprt_csv)
eprt2_df = eprt_df['Stock_Name'] = 'EPRT'
#eprt_df.head()
esnt_csv= "ESNT.csv"
esnt_df = pd.read_csv(esnt_csv)
esnt2_df = esnt_df['Stock_Name'] = 'ESNT'
#esnt_df.head()
ew_csv= "EW.csv"
ew_df = pd.read_csv(ew_csv)
ew2_df = ew_df['Stock_Name'] = 'EW'
#ew_df.head()
flt_csv= "FLT.csv"
flt_df = pd.read_csv(flt_csv)
flt2_df = flt_df['Stock_Name'] = 'FLT'
#flt_df.head()
fss_csv= "FSS.csv"
fss_df = pd.read_csv(fss_csv)
fss2_df = fss_df['Stock_Name'] = 'FSS'
#fss_df.head()
ftnt_csv= "FTNT.csv"
ftnt_df = pd.read_csv(ftnt_csv)
ftnt2_df = ftnt_df['Stock_Name'] = 'FTNT'
#ftnt_df.head()
hei_csv= "HEI.csv"
hei_df = pd.read_csv(hei_csv)
hei2_df = hei_df['Stock_Name'] = 'HEI'
#hei_df.head()
huya_csv= "HUYA.csv"
huya_df = pd.read_csv(huya_csv)
huya2_df = huya_df['Stock_Name'] = 'HUYA'
#huya_df.head()
inmd_csv= "INMD.csv"
inmd_df = pd.read_csv(inmd_csv)
inmd2_df = inmd_df['Stock_Name'] = 'INMD'
#inmd_df.head()
jcom_csv= "JCOM.csv"
jcom_df = pd.read_csv(jcom_csv)
jcom2_df = jcom_df['Stock_Name'] = 'JCOM'
#jcom_df.head()
jpm_csv= "JPM.csv"
jpm_df = pd.read_csv(jpm_csv)
jpm2_df = jpm_df['Stock_Name'] = 'JPM'
#jpm_df.head()
kl_csv= "KL.csv"
kl_df = pd.read_csv(kl_csv)
kl2_df = kl_df['Stock_Name'] = 'KL'
#kl_df.head()
lhx_csv= "LHX.csv"
lhx_df = pd.read_csv(lhx_csv)
lhx2_df = lhx_df['Stock_Name'] = 'LHX'
#lhx_df.head()
lulu_csv= "LULU.csv"
lulu_df = pd.read_csv(lulu_csv)
lulu2_df = lulu_df['Stock_Name'] = 'LULU'
#lulu_df.head()
momo_csv= "MOMO.csv"
momo_df = pd.read_csv(momo_csv)
momo2_df = momo_df['Stock_Name'] = 'MOMO'
#momo_df.head()
msft_csv= "MSFT.csv"
msft_df = pd.read_csv(msft_csv)
msft2_df = msft_df['Stock_Name'] = 'MSFT'
#msft_df.head()
mtz_csv= "MTZ.csv"
mtz_df = pd.read_csv(mtz_csv)
mtz2_df = mtz_df['Stock_Name'] = 'MTZ'
#mtz_df.head()
oled_csv= "OLED.csv"
oled_df = pd.read_csv(oled_csv)
oled2_df = oled_df['Stock_Name'] = 'OLED'
#oled_df.head()
payc_csv= "PAYC.csv"
payc_df = pd.read_csv(payc_csv)
payc2_df = payc_df['Stock_Name'] = 'PAYC'
#payc_df.head()
pcty_csv= "PCTY.csv"
pcty_df = pd.read_csv(pcty_csv)
pcty2_df = pcty_df['Stock_Name'] = 'PCTY'
#pcty_df.head()
pypl_csv= "PYPL.csv"
pypl_df = pd.read_csv(pypl_csv)
pypl2_df = pypl_df['Stock_Name'] = 'PYPL'
#pypl_df.head()
rexr_csv= "REXR.csv"
rexr_df = pd.read_csv(rexr_csv)
rexr2_df = rexr_df['Stock_Name'] = 'REXR'
#rexr_df.head()
rh_csv= "RH.csv"
rh_df = pd.read_csv(rh_csv)
rh2_df = rh_df['Stock_Name'] = 'RH'
#rh_df.head()
rp_csv= "RP.csv"
rp_df = pd.read_csv(rp_csv)
rp2_df = rp_df['Stock_Name'] = 'RP'
#rp_df.head()
sedg_csv= "SEDG.csv"
sedg_df = pd.read_csv(sedg_csv)
sedg2_df = sedg_df['Stock_Name'] = 'SEDG'
#sedg_df.head()
ssnc_csv= "SSNC.csv"
ssnc_df = pd.read_csv(ssnc_csv)
ssnc2_df = ssnc_df['Stock_Name'] = 'SSNC'
#ssnc_df.head()
stne_csv= "STNE.csv"
stne_df = pd.read_csv(stne_csv)
stne2_df = stne_df['Stock_Name'] = 'STNE'
#stne_df.head()
stor_csv= "STOR.csv"
stor_df = pd.read_csv(stor_csv)
stor2_df = stor_df['Stock_Name'] = 'STOR'
#stor_df.head()
syk_csv= "SYK.csv"
syk_df = pd.read_csv(syk_csv)
syk2_df = syk_df['Stock_Name'] = 'SYK'
#syk_df.head()
tkr_csv= "TKR.csv"
tkr_df = pd.read_csv(tkr_csv)
tkr2_df = tkr_df['Stock_Name'] = 'TKR'
#tkr_df.head()
tpx_csv= "TPX.csv"
tpx_df = pd.read_csv(tpx_csv)
tpx2_df = tpx_df['Stock_Name'] = 'TPX'
#tpx_df.head()
upld_csv= "UPLD.csv"
upld_df = pd.read_csv(upld_csv)
upld2_df = upld_df['Stock_Name'] = 'UPLD'
#upld_df.head()
v_csv= "V.csv"
v_df = pd.read_csv(v_csv)
v2_df = v_df['Stock_Name'] = 'V'
#v_df.head()
veev_csv= "VEEV.csv"
veev_df = pd.read_csv(veev_csv)
veev2_df = veev_df['Stock_Name'] = 'VEEV'
#veev_df.head()
wh_csv= "WH.csv"
wh_df = pd.read_csv(wh_csv)
wh2_df = wh_df['Stock_Name'] = 'WH'
#wh_df.head()

In [14]:
vertical_stack = pd.concat([adobe_df, alxn_df])
#df_union_all= pd.concat([df1, df2])
#print(df_union_all)
vertical_stack.head()
vertical_stack1= pd.concat([vertical_stack,anet_df])
vertical_stack1
vertical_stack2 = pd.concat([vertical_stack1, boot_df])
vertical_stack2
vertical_stack3 = pd.concat([vertical_stack2, bro_df])
vertical_stack3
vertical_stack4 = pd.concat([vertical_stack3, bzun_df])
vertical_stack4
vertical_stack5 = pd.concat([vertical_stack4, cdw_df])
vertical_stack5
vertical_stack6 = pd.concat([vertical_stack5, chgg_df])
vertical_stack6
vertical_stack7 = pd.concat([vertical_stack6, cmcsa_df])
vertical_stack7
vertical_stack8 = pd.concat([vertical_stack7, cprt_df])
vertical_stack8
vertical_stack9 = pd.concat([vertical_stack8, crm_df])
vertical_stack9
vertical_stack10 = pd.concat([vertical_stack9, ctre_df])
vertical_stack10
vertical_stack11 = pd.concat([vertical_stack10, edu_df])
vertical_stack11
vertical_stack12 = pd.concat([vertical_stack11, eeft_df])
vertical_stack12
vertical_stack13 = pd.concat([vertical_stack12, eprt_df])
vertical_stack13
vertical_stack14 = pd.concat([vertical_stack13, esnt_df])
vertical_stack14
vertical_stack15 = pd.concat([vertical_stack14, ew_df])
vertical_stack15
vertical_stack16 = pd.concat([vertical_stack15, flt_df])
vertical_stack16
vertical_stack17 = pd.concat([vertical_stack16, fss_df])
vertical_stack17
vertical_stack18 = pd.concat([vertical_stack17, ftnt_df])
vertical_stack18
vertical_stack19 = pd.concat([vertical_stack18, hei_df])
vertical_stack19
vertical_stack20 = pd.concat([vertical_stack19, huya_df])
vertical_stack20
vertical_stack21 = pd.concat([vertical_stack20, inmd_df])
vertical_stack21

,Adj Close,Close,Date,High,Low,Open,Stock_,Stock_Name,Volume
0,39.919998,39.919998,1/3/2007,41.320000,38.889999,40.720001,NaN,ADBE,7126000.0
1,40.820000,40.820000,1/4/2007,41.000000,39.430000,39.880001,NaN,ADBE,4503700.0
2,40.619999,40.619999,1/5/2007,40.900002,40.119999,40.779999,NaN,ADBE,2730200.0
3,40.450001,40.450001,1/8/2007,40.970001,40.130001,40.410000,NaN,ADBE,5234800.0
4,39.630001,39.630001,1/9/2007,40.509998,39.380001,40.500000,NaN,ADBE,5672900.0
5,39.220001,39.220001,1/10/2007,39.590000,38.730000,39.150002,NaN,ADBE,5652600.0
6,39.880001,39.880001,1/11/2007,40.380001,39.240002,39.400002,NaN,ADBE,4358600.0
7,39.959999,39.959999,1/12/2007,40.200001,39.500000,39.650002,NaN,ADBE,3682900.0
8,40.049999,40.049999,1/16/2007,40.750000,39.810001,40.250000,NaN,ADBE,5154000.0
9,40.200001,40.200001,1/17/2007,40.549999,39.799999,40.029999,NaN,ADBE,3588200.0
10,38.570000,38.570000,1/18/2007,40.400002,38.419998,40.099998,NaN,ADBE,5253800.0
11,38.400002,38.400002,1/19/2007,38.570000,37.500000,38.320000,NaN,ADBE,8014400.0
12,37.830002,37.830002,1/22/2007,38.630001,37.200001,38.439999,NaN,ADBE,6619400.0
13,37.520000,37.520000,1/23/2007,37.959999,37.369999,37.650002,NaN,ADBE,4659000.0
14,39.689999,39.689999,1/24/2007,39.740002,37.930000,38.000000,NaN,ADBE,7193900.0
15,39.130001,39.130001,1/25/2007,39.970001,38.840000,39.720001,NaN,ADBE,5774000.0
16,39.259998,39.259998,1/26/2007,39.660000,38.660000,39.169998,NaN,ADBE,4162300.0
17,39.349998,39.349998,1/29/2007,39.750000,38.910000,39.400002,NaN,ADBE,3994000.0
18,39.009998,39.009998,1/30/2007,39.549999,38.830002,39.549999,NaN,ADBE,5017100.0
19,38.869999,38.869999,1/31/2007,39.130001,38.279999,38.880001,NaN,ADBE,4714500.0
20,38.759998,38.759998,2/1/2007,38.990002,38.320000,38.910000,NaN,ADBE,4656800.0
21,38.970001,38.970001,2/2/2007,39.209999,38.419998,39.049999,NaN,ADBE,3222700.0
22,38.439999,38.439999,2/5/2007,39.060001,38.380001,39.040001,NaN,ADBE,3153200.0
23,38.459999,38.459999,2/6/2007,39.200001,38.000000,39.080002,NaN,ADBE,6089100.0
24,38.150002,38.150002,2/7/2007,38.849998,38.029999,38.650002,NaN,ADBE,4215200.0
25,38.049999,38.049999,2/8/2007,38.400002,37.930000,38.180000,NaN,ADBE,3965100.0
26,37.680000,37.680000,2/9/2007,38.340000,37.450001,38.200001,NaN,ADBE,4413100.0
27,38.090000,38.090000,2/12/2007,38.189999,37.470001,37.990002,NaN,ADBE,6753800.0
28,38.430000,38.430000,2/13/2007,39.070000,38.299999,38.590000,NaN,ADBE,7579700.0
29,38.599998,38.599998,2/14/2007,38.700001,38.419998,38.439999,NaN,ADBE,10016000.0
...,...,...,...,...,...,...,...,...,...
3197,27.530001,27.530001,2019-09-16,29.379999,27.049999,28.469999,NaN,INMD,898600.0
3198,27.480000,27.480000,2019-09-17,28.340000,26.062000,27.650000,NaN,INMD,553400.0
3199,27.750000,27.750000,2019-09-18,28.254000,27.226000,27.340000,NaN,INMD,547700.0
3200,27.290001,27.290001,2019-09-19,28.096001,26.530001,28.010000,NaN,INMD,376200.0
3201,26.070000,26.070000,2019-09-20,27.500000,24.500000,27.280001,NaN,INMD,819100.0
3202,27.070000,27.070000,2019-09-23,27.270000,25.500000,25.889999,NaN,INMD,417400.0
3203,26.740000,26.740000,2019-09-24,27.940001,26.100000,27.200001,NaN,INMD,673400.0
3204,27.020000,27.020000,2019-09-25,27.100000,25.230000,26.360001,NaN,INMD,477400.0
3205,26.480000,26.480000,2019-09-26,27.740000,26.110001,27.240000,NaN,INMD,627300.0
3206,22.240000,22.240000,2019-09-27,26.629999,21.230000,26.219999,NaN,INMD,2285100.0
3207,21.510000,21.510000,2019-09-30,22.725000,20.100000,22.160000,NaN,INMD,973400.0
3208,22.510000,22.510000,2019-10-01,22.799999,21.010000,21.430000,NaN,INMD,629400.0
3209,22.020000,22.020000,2019-10-02,22.576000,21.190001,22.430000,NaN,INMD,557100.0
3210,22.510000,22.510000,2019-10-03,23.280001,20.860001,22.080000,NaN,INMD,674300.0
3211,24.530001,24.530001,2019-10-04,24.700001,22.260000,22.500000,NaN,INMD,615300.0
3212,24.030001,24.030001,2019-10-07,26.320000,23.500000,26.049999,NaN,INMD,829100.0
3213,23.000000,23.000000,2019-10-08,23.780001,22.850000,23.670000,NaN,INMD,345000.0
3214,23.700001,23.700001,2019-10-09,24.430000,22.950001,23.350000,NaN,INMD,418500.0
3215,23.520000,23.520000,2019-10-10,24.350000,23.320000,23.790001,NaN,INMD,326700.0
3216,24.360001,24.360001,2019-10-11,24.850000,23.219999,23.680000,NaN,INMD,475500.0
3217,27.170000,27.170000,2019-10-14,27.357000,25.250000,25.799999,NaN,INMD,1245600.0
3218,25.959999,25.959999,2019-10-15,28.247999,25.694000,27.940001,NaN,INMD,1257300.0
3219,25.150000,25.150000,2019-10-16,26.745001,25.000999,25.760000,NaN,INMD,472200.0
3220,26.030001,26.030001,2019-10-17,26.598000,25.120001,25.200001,NaN,INMD,555600.0
3221,25.950001,25.950001,2019-10-18,26.580000,25.209999,26.190001,NaN,INMD,612200.0
3222,27.570000,27.570000,2019-10-21,28.100000,25.680000,26.350000,NaN,INMD,875900.0
3223,29.820000,29.820000,2019-10-22,30.815001,27.530001,27.559999,NaN,INMD,2334300.0
3224,30.809999,30.809999,2019-10-23,32.080002,29.250000,29.870001,NaN,INMD,1236100.0
3225,30.209999,30.209999,2019-10-24,32.000000,29.930000,31.280001,NaN,INMD,994200.0
3226,31.500000,31.500000,2019-10-25,31.790001,29.580000,30.000000,NaN,INMD,746500.0